.grupoCardButton:nth-of-type(1),
.grupoCardButton:nth-of-type(2),
.grupoCardButton:nth-of-type(3){
    margin-top: 5px;
}
.grupoCardButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:15px;
    outline: 5px solid #fff;
    padding: 5px;
}
.grupoCardButton-img-container{
    width: 30%;
}
.grupoCardButton-img{
    width: 100%;
}

.grupoCardButton-title{
    font-size: clamp(11px, 2vw, 1.5rem);
    font-family: var(--font-inherit);
    color:#111;
    text-align: center;
}

/* colores de tarjetas  */
.grupoCardButton:nth-of-type(1){
    background-color: #FFB3C6;
    &:hover{
        background-color:#FF94AF;
    }
}
.grupoCardButton:nth-of-type(2){
    background-color: #91C7C0;
    &:hover{
        background-color:#7DBDB5;
    }
}
.grupoCardButton:nth-of-type(3){
    background-color: #FFE082;
    &:hover{
        background-color:#FFD54F;
    }
}
.grupoCardButton:nth-of-type(4){
    background-color: #A6DBF2;
    &:hover{
        background-color:#90CAE7;
    }
}
.grupoCardButton:nth-of-type(5){
    background-color: #D8B6D2;
    &:hover{
        background-color:#C999C2;
    }
}
.grupoCardButton:nth-of-type(6){
    background-color: #B9DBC0;
    &:hover{
        background-color:#A2CCA9;
    }
}
.grupoCardButton:nth-of-type(7){
    background-color: #F9C88F;
    &:hover{
        background-color:#F6B66E;
    }
}
.grupoCardButton:nth-of-type(8){
    background-color: #BBDEFB;
    &:hover{
        background-color:#90CAF9;
    }
}
.grupoCardButton:nth-of-type(9){
    background-color: #F8BBD0;
    &:hover{
        background-color:#F48FB1;
    }
}
.grupoCardButton:nth-of-type(10){
    background-color: #FFF176;
    &:hover{
        background-color:#FFEE58;
    }
}
.grupoCardButton:nth-of-type(11){
    background-color: #E6EE9C;
    &:hover{
        background-color:#D4E157;
    }
}
.grupoCardButton:nth-of-type(12){
    background-color: #FFAB91;
    &:hover{
        background-color:#FF8A65;
    }
}
.grupoCardButton:nth-of-type(13){
    background-color: #C5E1A5;
    &:hover{
        background-color:#AED581;
    }
}
.grupoCardButton:nth-of-type(14){
    background-color: #B39DDB;
    &:hover{
        background-color:#9575CD;
    }
}
.grupoCardButton:nth-of-type(15){
    background-color: #80CBC4;
    &:hover{
        background-color:#4DB6AC;
    }
}
.grupoCardButton:nth-of-type(16){
    background-color: #EF9A9A;
    &:hover{
        background-color:#E57373;
    }
}
.grupoCardButton:nth-of-type(17){
    background-color: #F48FB1;
    &:hover{
        background-color:#EC407A;
    }
}
.grupoCardButton:nth-of-type(18){
    background-color: #4DD0E1;
    &:hover{
        background-color:#26C6DA;
    }
}
.grupoCardButton:nth-of-type(19){
    background-color: #BCAAA4;
    &:hover{
        background-color:#A1887F;
    }
}
.grupoCardButton:nth-of-type(20){
    background-color: #9FA8DA;
    &:hover{
        background-color:#7986CB;
    }
}
.grupoCardButton:nth-of-type(21){
    background-color: #B2EBF2;
    &:hover{
        background-color:#4DD0E1;
    }
}
.grupoCardButton:nth-of-type(22){
    background-color: #FFCC80;
    &:hover{
        background-color:#FFB74D;
    }
}
.grupoCardButton:nth-of-type(23){
    background-color: #CE93D8;
    &:hover{
        background-color:#BA68C8;
    }
}
.grupoCardButton:nth-of-type(24){
    background-color: #80CBC4;
    &:hover{
        background-color:#4DB6AC;
    }
}
.grupoCardButton:nth-of-type(25){
    background-color: #FFCDD2;
    &:hover{
        background-color:#EF9A9A;
    }
}
.grupoCardButton:nth-of-type(26){
    background-color: #FFAB91;
    &:hover{
        background-color:#FF8A65;
    }
}
.grupoCardButton:nth-of-type(27){
    background-color: #DCEDC8;
    &:hover{
        background-color:#C5E1A5;
    }
}
.grupoCardButton:nth-of-type(28){
    background-color: #F0F4C3;
    &:hover{
        background-color:#E6EE9C;
    }
}
.grupoCardButton:nth-of-type(29){
    background-color: #C5CAE9;
    &:hover{
        background-color:#9FA8DA;
    }
}
.grupoCardButton:nth-of-type(30){
    background-color: #FFF9C4;
    &:hover{
        background-color:#FFF176;
    }
}
.grupoCardButton:last-child{
    grid-column-start: 2;
    background-color: #FFB3C6;
    &:hover{
        background-color:#FF94AF;
    }
}
