*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #AE0102;
}

:root{
  --font-inherit:'Nunito', sans-serif;
}
